<h1>Segundo Controller</h1>
hash
<table>
  <tr>
    <th>nombre</th>
    <td><%= @persona[:nombre] %></td>
  </tr>
  <tr>
    <th>apellido</th>
    <td><%= @persona[:apellido] %></td>
  </tr>
  <tr>
    <th>telefono</th>
    <td><%= @persona[:telefono] %></td>
  </tr>
  <tr>
    <th>correo</th>
    <td><%= @persona[:correo] %></td>
  </tr>
</table>
